.video {
    position: relative;
}
.lightbox {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 50px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    opacity: 0.8;
}
.video .lightbox {
    display: block;
}
.lightbox a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
    margin-bottom: 20px;
}
.lightbox .text {
    margin-bottom: 20px;
    display: none;
}
.lightbox label {
    display: block;
    margin-top: 5px;
}
.lightbox .resume {
    margin-top: 10px;
}