html,body {
	background: #fff;
    height: 100%;
	font-size: 100%;
	font-family: Roboto Light, Roboto, sans-serif;
}
/* vk */
#vk_groups, #vk_groups iframe {
	width: 100% !important;
}
/* preloader */
#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #983af2 url(/images/bars.svg) center center no-repeat;background-size:107px;}
.breadcrumb > li + li:before{
	content: "\f105";
	font-family: fontAwesome;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0;
}
#w0{
	min-height: 75px;
}

#w1 li a:hover,#w1 li a:focus{
	background: none;
}
#w1 li.active,#w1 li a:hover,#w1 li a:focus{
	color:#a233db;
}
#w1 li a.icon-1{
	background: url(/images/icon1.png) no-repeat 70px 10px;
}
#w1 li a.icon-2{
	background: url(/images/icon2.png) no-repeat 75px 10px;
}
#w1 li a.icon-3{
	background: url(/images/icon3.png) no-repeat 35px 13px;
}
#w1 li a.icon-4{
	background: url(/images/icon4.png) no-repeat 64px 10px;
}
#w1 li a.icon-5{
	background: url(/images/icon5.png) no-repeat 52px 9px;
}
#w1 li a{
	color:#472fb7;
	font-family: Roboto;
	padding-top: 35px;
}
/* header-info */ 
.bg {
    background: url(/images/bg.jpg) no-repeat 0px 0px;
    background-size: 100% 100%;
	min-height: 100px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	height: 0;
    padding: 5px 0 0;
	margin-left: 0;
}
.navbar-toggle {
	border: 1px solid #6e4eff;
}
.navbar-toggle .icon-bar{
	background-color: #6e4eff;
}
.header-info {
    position: relative;
    padding: 10.3em 0 4em;
}
.header-info h1{
	color: #FFF;
    text-transform: uppercase;
    font-size: 2.1em;
    margin: 0;
	text-shadow: 0 2px #33314d;
}
.header-info h1 label {
    color: #6e4eff;
	font-family: Roboto;
}
.header-info .liner {
    width: 10%;
    background: #fff;
    display: inline-block;
    height: 2px;
    vertical-align: middle;
}
.header-info .text {
	color: #aba9a9;
	font-size: 80%;
    padding-top: 20px;
	padding-bottom: 20px;
	display: block;
    text-transform: uppercase;
}
.header-info .down-arrow{
	color: #FFF;
	border: 3px solid #fff;
	border-radius: 22px;
	display: block;
    padding: 5px;
    width: 45px;
    height: 45px;
	position: absolute;
	bottom: 3%;
    left: 48%;
}
.header-info a.down-arrow-to{
   transition-duration: 0.3s;
   transition-property: transform;
   transform: translateZ(0);
}
.header-info a.down-arrow-to:hover{
  	transform: translateY(5px);
}
.header-info .down-arrow .fa-angle-down{
	font-size: 205%;
}
.header-info p {
    color: #fff;
    margin: 0;
    font-size: 1.6em;
    margin: 0.5em 0 3.5em;
	text-shadow: 0 2px #33314d;
	text-transform: uppercase;
}
.header-info a.big-btn {
    color: #fff;
    font-size: 1.55em;
	border-radius: 3px;
    padding: 0.45em 1.3em;
    display: inline-block;
	position: relative;
	border-width: 0;
	line-height: normal;
	text-transform: uppercase;
	box-shadow: 0 5px #33314d;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px #33314d;
	background: linear-gradient(60deg, #983af2 0%, #8a40f1 35%, #7848f0 45%, #6e4cef 55%, #5556ed 65%, #4c5aed 100%);
}
.header-info a.big-btn:hover{
  box-shadow: inset 0 0 #33314d;
  background: linear-gradient(60deg, #a14df1 0%, #5866f2 100%);
}

/*--- process ---*/
.process{
	position: relative;
}
.process-grid{
	padding: 3em 0 4em;
	position: relative;
}
.process-grid img{
	margin: 0 auto;
}
.process h3{
	color:#2f2f2f;
	font-size: 2.1em;
	text-transform: uppercase;
	border-bottom: 1px solid #e0e0e0;
    display: inline-block;
    padding: 0 0 0.4em;
	
}
.process span{
	color:#6e4eff;
}
.process p{
	color:#2f2f2f;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 600;
}
/*--- about ----*/
.about{
	padding: 1em 0;
	position: relative;
	background: #f5f5f5;
}
.about-head h3{
	color: #2f2f2f;
	text-transform: uppercase;
	font-size: 1.8em;
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	padding: 0 0 0.4em;
}
.about-head h3 span,.about-head p span {
	color:#6e4eff;
}
.about-head p{
	color: #2f2f2f;
	margin: 0;
	font-weight:600;
	font-size: 0.9em;
	width: 50%;
	margin: 0 auto;
	text-transform: uppercase;
}
.about-grid h3{
	color: #2f2f2f;
	font-size: 1.4em;
	margin: 0;
	font-weight:600;
	padding: 0.7em 0 0.4em;
	line-height: 0.95em;
	text-transform: uppercase;
}
.about-grid h3 label{
	height:1px;
	width:20%;
	background:#6e4eff;
}
.about-grid span{
	width: 101px;
	height: 116px;
	display: inline-block;
	background: url(/images/573644.png) no-repeat 0px 0px;
}
.about-grid p{
	color:#6e4eff;
	font-weight:600;
	margin: 0;
}
.about-grid span.about-icon2{
	background-position: -200px 0px;
}
.about-grid span.about-icon3{
	background-position: -400px 0px;
}
.about-grid span.about-icon4{
	background-position: -600px 0px;
}
.about-grids {
	padding: 3.8em 0 1em;
}
/*--- team ---*/
.team .container{
	margin:0;
	padding:0;
	width: 100%;
}
.team-head{
	padding-top:1.5em;
	padding-bottom: 0.5em;
}
.team-head h4{
	color: #6e4eff;
	text-transform: uppercase;
	font-size: 2em;
	border-bottom:1px solid #e0e0e0;
	padding:0 0 0.4em 0;
	display:inline-block;
}
.team-head p{
	color:#2f2f2f;
	font-weight:600;
	font-size: 80%;
	text-transform: uppercase;
}
.team-head h4 span,.team-head p span,.team-member h5 span{
	color:#6e4eff;
}
.team-members{
	background: url(/images/testimonials.jpg) no-repeat 0px 0px;
	background-size: 100% 100%;
	min-height: 100px;
}
.team-member{
	background-color:#fff;
	margin: 0 auto 10px;
	text-align: left;
	padding-top: 1px;
	padding-left: 10px;
	border-radius: 5px;
	width: 250px;
	height: 80px;
}
.testimonials{
	padding-top: 20px;
	padding-bottom: 10px;
}
.testimonials img{
	margin: 0 auto;
}
.team-member h5{
	color: #606060;
	font-weight: 600;
}
.team-member p{
	color:#2a2a2a;
	font-weight: 600;
	font-size: 65%;
}
/*---- address ----*/
.address{
	padding: 1em 0;
	position: relative;
}
.address .container h4{
	color: #2f2f2f;
	text-transform: uppercase;
	font-size: 140%;
	font-weight: 600;
	padding:0 0 0.4em 0;
	display:inline-block;
}
.address-head{
	padding-top:1.5em;
	padding-bottom: 0.5em;
}
.address-head h3{
	color: #2f2f2f;
	text-transform: uppercase;
	font-size: 2em;
	border-bottom:1px solid #e0e0e0;
	padding:0 0 0.4em 0;
	display:inline-block;
}
.address-head h3 span,.address .container h4 span{
	color: #6e4eff;
}
.address-head p{
	color: #2f2f2f;
	font-weight: 600;
}
.address-head p span{
	color: #6e4eff;
}
.address .contact-form{
	padding: 1em;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
	color: #2a2d2e;
	font-weight: 600;
}
.address .contact-form label{
	font-size: 80%;
	color: #adadae;
	text-align: left;

}
.address .contact-form input[type="text"],.address .contact-form input[type="email"],.address .contact-form textarea{
	background-color: #f9f9f9;
	border-radius: 2px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: unset;
    box-shadow: none;
	border-bottom: 1px solid #9b9c9d;
}
.address .contact-form input[type="text"]:focus,.address .contact-form input[type="email"]:focus,.address .contact-form textarea:focus {
	background-color: #fff;
    border-color: unset;
    box-shadow: none;
}
.address .contact-form button{
	border-radius: 2px;
	border-color: #6e4eff;
	background-color: #6e4eff;
	box-shadow: 0 2px 0 #00469c;
	color: #fff;
	padding: 6px 45px;
}
.address .contact-form button:hover{
	background-color: #7456fd;
	box-shadow: 0 0 0 #00469c;
}
/* start-scrolling */
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	border: none;
	color: #983af2;
}
#toTopHover {
	display: block;
	overflow: hidden;
	opacity: 0;
}

footer {
    min-height: 100px;
    background: url(/images/footer-bg.jpg) no-repeat 0px 0px;
    background-size: 100% 100%;
}
.footer{
	width:100%;
	padding: 20px 0;
}
.footer-menu{
	margin: 0 auto;
	max-width: 620px;
	height: auto;
	padding: 20px 0;
}
.footer-menu div{
	display: inline-block;
	padding: 10px;
	width: 200px;
	text-align: left;
}
.footer-menu div a{
	color: #fff;
}
.footer-sign-in .btn-primary{
	width: 200px;
	margin: 0 20px;
}
.footer-sign-in .btn-primary:nth-child(1){
	background-color: #4a68da;
	box-shadow: 0 2px #2b3f8a;
	border-radius: 2px;
}
.footer-sign-in .btn-primary:nth-child(2){
	background-color: #6e4eff;
	box-shadow: 0 2px #33314d;
	border-radius: 2px;
}


/*-- responsive-design --*/
@media screen and (min-width: 1200px){
	
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.header-info {
		padding: 10em 0px 3em;
	}
	.header-info h1{
		font-size: 1.9em;
	}
	.header-info p{
		font-size: 1.4em;
		margin: 0.5em 0px 2.9em;
	}
	.header-info a.big-btn{
		font-size: 1.3em;
		padding: 0.3em 1em;
		box-shadow: 0px 3px #33314D;
	}
	.header-info .down-arrow{
		height: 40px;
		padding: 2px;
		width: 40px;
	}
	.header-info .down-arrow .fa-angle-down {
		font-size: 200%;
	}
	.address .container h4{
		font-size: 120%;
	}
	#contact .container{
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#w0 .container{
		width: 100%;
	}
	.header-info {
		padding: 8em 0 3em;
	}
	.header-info h1 {
		font-size: 1.5em;
	}
	.header-info .liner{
		width: 8%;
	}
	.header-info p{
		font-size: 1em;
		margin: 0.5em 0 3em;
	}
	.header-info a.big-btn{
		font-size: 1em;
		padding: 0.4em 1em;
	}
	.header-info .down-arrow .fa-angle-down {
		font-size: 180%;
	}
	.header-info .down-arrow{
		height: 35px;
		width: 35px;
		padding: 2px;
	}
	.process h3,.about-head h3,.team-head h4,.address-head h3{
		font-size: 1.7em;
	}
	.about-grid h3{
		font-size: 1em;
	}
	.about-grid p{
		font-size: 80%;
	}
	.team-head p{
		font-size: 70%;
	}
	.address .container h4{
		font-size: 90%;
	}
	#contact .container{
		width: 100%;
	}
	
}

@media screen and (max-width: 767px){
	.navbar-toggle{
		margin-top: 25px;
	}
	#w1 li {
		min-height: 30px;
	}
	#w1 li a{
		padding-top: 10px;
	}
	#w1 li a.icon-1,#w1 li a.icon-2,#w1 li a.icon-3,#w1 li a.icon-4{
		background: none;
	}
	.header-info{
		padding: 4em 0 2em;
	}
	.header-info h1{
		font-size: 1.3em;
	}
	.header-info .liner{
		width: 6%;
	}
	.header-info p{
		font-size: 0.85em;
		margin: 0.1em 0 2em;
	}
	.header-info a.big-btn{
		box-shadow: 0 2px #33314d;
		font-size: 0.9em;
		padding: 0.4em 1em;
	}
	.header-info .text{
		font-size: 65%;
		padding-bottom: 25px;
		padding-top: 10px;
	}
	.header-info a.down-arrow-to{
		border: 2px solid #fff;
		padding: 1px;
		height: 30px;
		width: 30px;
	}
	.header-info .down-arrow .fa-angle-down{
		font-size: 150%;
	}
	.process h3,.about-head h3,.team-head h4,.address-head h3,.about-grid h3{
		font-size: 1em;
	}
	.process p,.about-head p,.team-head p,.address-head p,.about-grid p{
		font-size: 0.6em;
	}
	.testimonials img{
		width: 35%;
	}
	.team-member{
		width: 210px;
		margin-bottom: 5px;
	}
	.team-member h5,.team-member p{
		font-size: 60%;
	}
	.address .container h4{
		font-size: 90%;
	}
	.process-grid img{
		width: 70%;
	}
}
@media screen and (max-width: 320px){
	.header-info h1 {
		font-size: 1em;
	}
	.header-info p {
		font-size: 0.7em;
	}
	.team-member {
		width: 145px;
	}
	.footer-sign-in .btn-primary {
		margin: 5px 20px;
	}
}






