.header-info a.big-btn,.word{display:inline-block;position:relative}
#season a,#toTop,.header-info a.big-btn,.notification-trigger,.notification-trigger:focus,.notification-trigger:hover,.widget a:hover{text-decoration:none}
body,html{background:#fff;height:100%;font-size:100%;font-family:Roboto,'Roboto Light',sans-serif}
#translated-word{position:absolute;left:0;padding:10px 35px 10px 15px;color:#ff0;background-color:#000;text-align:left;border-radius:3px;border:2px solid #bcbcbc;z-index:10000;line-height:1.42857143}
#translated-word__title{margin-bottom:5px;color:#bcbcbc}
#translated-word .fa-plus-circle,
#translated-word .fa-check-square
{position:absolute;top:5px;right:5px;cursor:pointer}
#translated-word .fa-plus-circle{color:#ff0;}
#translated-word .fa-check-square{color:#76FF03;}
.word{padding:0;color:#ffd700}
.word:hover{cursor:pointer;color:#fff}
.breadcrumb{background-color:#fff;margin:0;padding:8px 0}
.breadcrumb>li+li:before{content:"\f105";font-family:fontAwesome}
.breadcrumb a{color:#472fb7}
.wrap{min-height:100%;height:auto;margin:0 auto -60px;padding:0 0 60px}
.wrap>.container{padding:10px 0}
.fit-cover{object-fit:cover;overflow:hidden}
.bg{background:url(../images/level.jpg) no-repeat;background-size:cover;min-height:510px}
.navbar{box-shadow:0 17px 50px 0 rgba(206,206,206,.19),0 12px 15px 0 rgba(206,206,206,.24);margin-bottom:0;min-height:70px}
.navbar-brand{height:0;padding:5px 0 0;margin-left:0}
.navbar-toggle{border:1px solid #6e4eff}
.navbar-toggle .icon-bar{background-color:#6e4eff}
#w0-collapse{padding-top:10px}
#w1 .dropdown-menu .active a,#w1 li a:focus,#w1 li a:hover,#w1 li.active{color:#a233db;background-color:#fff}
#w1 li .fa-home,#w1 li .fa-sliders{margin-right:10px}
#w1 li .fa-home{font-size:130%}
#w1 li .fa-sliders{font-size:120%}
#w1 li .fa-sign-in{font-size:125%}
#w1 li .fa-pencil{font-size:110%}
#w1 li a{color:#472fb7}
.header-info{position:relative;padding:10em 0 4em;font-family:'Roboto light',Roboto}
.header-info h1{color:#FFF;text-transform:uppercase;font-size:2.1em;margin:0;text-shadow:0 2px #33314d}
.header-info h1 label{color:#32b64f;font-family:Roboto}
.header-info a.big-btn{color:#fff;font-size:1.2em;border-radius:3px;width:250px;height:50px;margin:100px 10px 0;border-width:0;padding-top:11px;line-height:normal;text-transform:uppercase;box-shadow:0 3px #33314d;cursor:pointer;text-shadow:0 1px #33314d}
.header-info .btn-1{background:linear-gradient(60deg,#676bff 0,#4c5aed 100%)}
.header-info .btn-2{background:linear-gradient(60deg,#4ea44e 0,#32b64f 100%)}
.header-info .btn-3{background:linear-gradient(60deg,#ac295e 0,#b22451 55%,#bb1f42 65%,#bb1f42 100%)}
.header-info a.big-btn:hover{box-shadow:inset 0 0 #33314d}
.avatar img{border:2px solid #6e59d8;width:48px;height:48px}
#searchfor{padding:10px 0 0 20px}
#searchform #search{border-color:#bd27dd #2a65d2 #8e3bda #d81cdf;border-style:solid;border-top-right-radius:0;border-bottom-right-radius:0;width:400px;color:#a198d6}
#searchform #search:focus,#searchform #search:hover{box-shadow:none}
#searchform #search::-webkit-input-placeholder{color:#a198d6}
#searchform #search::-moz-placeholder{color:#a198d6}
#searchform #search:-moz-placeholder{color:#a198d6}
#searchform #search:-ms-input-placeholder{color:#a198d6}
#searchform #searchsubmit{background-color:#6e4eff;border-radius:0 4px 4px 0;margin-left:-5px;color:#fff}
.navbar-collapse{padding:0}
#category{margin:0;padding:0;min-height:50px}
#category .navbar-nav li:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px}
#category .navbar-nav li:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px}
#category .nav .category-menu{border-right:1px solid #ddd}
#category .nav .category-menu a{font-size:110%;color:#6a55d6;padding:0 10px 10px;margin:15px 10px 0}
#category .nav .category-menu a:focus,#category .nav .category-menu a:hover{background:0 0;border-bottom:2px solid #6a55d7}
#category .nav .active a{border-bottom:2px solid #6a55d7;color:#ada6da}
#category .nav li:last-child{border-right:none}
#category .nav .fa-bars{margin-left:10px}
#category .nav .dropdown{background-color:#40347a}
#category .nav .dropdown .dropdown-toggle{color:#fff;font-size:115%}
#category .nav .dropdown-toggle:focus,#category .nav .dropdown-toggle:hover{background:0 0}
#episodes{padding-top:20px}
#episodes .thumbnail{border:none}
#episodes .thumbnail img{margin:0;width:100%;height:150px;border-top-right-radius:5px;border-top-left-radius:5px}
#episodes .thumbnail .views{position:absolute;background:#5b5a5a;color:#fff;font-size:60%;margin-top:-140px;opacity:.8;margin-left:225px;padding:3px;border-radius:4px}
#episodes .thumbnail .caption{box-shadow:0 0 5px rgba(230,230,230,1),0 0 28px rgba(230,230,230,1)}
#episodes .thumbnail .caption h4{color:#2f2f2f;font-size:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#episodes .thumbnail .caption h5,.thumbnail .caption h6{color:#777;font-size:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#episodes .thumbnail .caption h6{font-size:70%}
#episodes .thumbnail .img-link{display:block;text-decoration:none;position:relative}
#episodes .cover-bg{display:none;position:absolute;top:0;bottom:102px;left:0;right:0;background:#4d486c;border-top-right-radius:5px;border-top-left-radius:5px;opacity:.6}
#episodes .img-link:hover .cover-bg{display:block}
#episodes .img-link:hover{box-shadow:0 17px 50px 0 rgba(206,206,206,.19),0 12px 15px 0 rgba(206,206,206,.24)}
#episodes .img-link:hover h4{color:#6a55d7}
#episodes .img-link:hover h5{color:#2f2f2f}
#episodes .img-link:hover h6{color:#777}
.pagination li a{color:#6e4eff}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover{background-color:#6e4eff;border-color:#6e4eff}
.notification-trigger{position:relative;font-size:20px}
.notification-trigger .fa-book,.notification-trigger span{color:#6e4eff}
.container .row .h1,.container .row .h2{font-size:100%;font-weight:400}
.container .row .h2{color:#a8a8a8}
.notification-trigger .notification-num{width:20px;height:20px;position:absolute;border-radius:50%;text-align:center;line-height:19px;display:block;background:#fff;color:#472fb7;top:-17px;right:-11px;font-size:12px;font-weight:600}
.social{margin-top:10px}
.social .goodshare{border:none;color:#fff;font-size:1em;padding:5px 15px;border-radius:3px;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.social .vk{background-color:#fff;color:#54769a;border:1px solid #54769a}
.social .vk:hover{background-color:#54769a;color:#fff}
.social .fb{background-color:#fff;color:#255c95;border:1px solid #255c95}
.social .fb:hover{background-color:#255c95;color:#fff}
.social .ok{background-color:#fff;color:#f2711c;border:1px solid #f2711c}
.social .ok:hover{background-color:#f2711c;color:#fff}
.social .tw{background-color:#fff;color:#0084b4;border:1px solid #0084b4}
.social .tw:hover{background-color:#0084b4;color:#fff}
.social .gp{background-color:#fff;color:#e81810;border:1px solid #e81810}
.social .gp:hover{background-color:#e81810;color:#fff}
.social .wa{background-color:#fff;color:#43d854;border:1px solid #43d854}
.social .wa:hover{background-color:#43d854;color:#fff}
.social .liked{background-color:#fff;color:red;border:1px solid red}
.social .liked:hover{background-color:red;color:#fff}
#episode{padding-top:45px}
.widget ul{list-style:none;padding:0}
.widget li{margin-bottom:15px;box-shadow:0 1px 1px rgba(206,206,206,.9)}
.widget li:hover{box-shadow:0 1px 1px #999}
.widget .recent-thumb{padding:0}
.widget .recent-thumb img{border-radius:4px;height:68px}
.widget .views{position:absolute;background:#5b5a5a;color:#fff;font-size:55%;margin-top:-65px;opacity:.8;margin-left:92px;padding:3px;border-radius:4px}
.widget .recent-title .ru:hover,.widget a{color:#472fb7}
.widget .recent-title{padding-left:5px}
.widget .widget-title{font-weight:400}
.widget .recent-title p{margin:0}
.widget .recent-title .ru{color:#2f2f2f}
.widget .recent-title .en{font-size:80%;color:#959595}
.widget .post-date{display:block;font-size:12px;padding:3px;margin-top:5px}
.profile img,.type_avatar img{width:150px;height:150px}
#uploadimageform-image{margin:15px auto}
.mejs-controls .mejs-speed-button .mejs-speed-selector{background:linear-gradient(90deg,#271933,#4f204c)!important}
.mejs-container .mejs-controls div{font-size:15px!important}
.mejs-button .mejs-jump-forward-button,.mejs-button .mejs-skip-back-button{padding-top:5px!important}
.mejs-controls .mejs-button.mejs-jump-forward-button,.mejs-controls .mejs-button.mejs-skip-back-button{background-position:3px 8px!important;height:30px!important}
.mejs-controls .mejs-button.mejs-jump-forward-button button,.mejs-controls .mejs-button.mejs-skip-back-button button{font-size:10px!important;margin-top:11.7px!important}
.mejs-controls .mejs-time-rail .mejs-time-float{width:44px!important;margin-left:-20px!important}
.mejs-controls .mejs-time-rail .mejs-time-total{outline:0!important}
.mejs-controls .mejs-time-rail .mejs-time-current,.mejs-controls .mejs-time-rail .mejs-time-float,.mejs-controls .mejs-time-rail .mejs-time-float-current,.mejs-controls .mejs-time-rail .mejs-time-handle,.mejs-controls .mejs-time-rail .mejs-time-loaded,.mejs-controls .mejs-time-rail .mejs-time-total{border-radius:5px!important}
div.mejs-speed-button{width:40px!important}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current,.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle{background:linear-gradient(to top,#6f63ef,#ec507a 49%,#ffee7b)!important}
.mejs-overlay-button{background:url(/images/play.png) 50% 50% no-repeat!important}
.mejs-controls .mejs-button.mejs-speed-button button{font-size:14px!important;margin:10px 3px!important;border:none!important;font-weight:600;cursor:pointer!important;color:#d7ad49!important}
.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label.mejs-speed-selected{color:#d7ad49!important}
.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label{font-size:13.5px!important}
.mejs-controls .mejs-time-rail .mejs-time-loaded{background:#fff!important}
.mejs-controls .mejs-time-rail .mejs-time-current{background:linear-gradient(to right,#6f63ef,#ec507a 49%,#ffee7b)!important}
.mejs-overlay-error{color:red}
.mejs-container .mejs-controls{height:43px!important;background:linear-gradient(90deg,#271933,#4f204c)!important}
.mejs-container .mejs-controls .mejs-time{padding:15px 0 0!important;height:17px!important}
.mejs-controls div.mejs-time-rail{padding-top:11px!important}
.mejs-controls .mejs-captions-button button,.mejs-controls .mejs-fullscreen-button button,.mejs-controls .mejs-pause button,.mejs-controls .mejs-play button,.mejs-controls .mejs-volume-button button{width:27px!important;height:27px!important;background:0 0!important;border:none!important;cursor:pointer!important;outline:0!important;color:#d7ad49!important;font-size:20px!important;margin:7px 0!important}
.mejs-controls .mejs-button.mejs-speed-button button:hover,.mejs-controls .mejs-captions-button button:hover,.mejs-controls .mejs-fullscreen-button button:hover,.mejs-controls .mejs-pause button:hover,.mejs-controls .mejs-play button:hover,.mejs-controls .mejs-volume-button button:hover{color:#fff!important}
.mejs-controls button::before{display:inline-block!important;font-family:FontAwesome!important}
.mejs-controls .mejs-pause button::before{content:'\f04c'!important}
.mejs-controls .mejs-play button::before{content:'\f04b'!important}
.mejs-controls .mejs-captions-button button::before{content:'\f25e'!important}
.mejs-controls .mejs-volume-button button::before{content:'\f028'!important}
.mejs-controls .mejs-fullscreen-button button::before{content:'\f0b2'!important}
.mejs-controls .mejs-volume-button .mejs-volume-slider{width:20px!important}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current,.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total{left:5px!important;width:10px!important}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle{left:1px!important;width:18px!important}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input{display:none!important}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label{cursor:pointer!important}
.mejs-controls .mejs-captions-button .mejs-captions-selector{background:linear-gradient(90deg,#271933,#4f204c)!important;border:none!important}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label:before{content:"\f10c"!important;font-family:FontAwesome!important;padding-right:10px!important;font-size:140%!important;font-weight:500!important;color:#d7ad49!important}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input[type=radio]:checked+label:before{content:"\f192"!important;font-family:FontAwesome!important;cursor:pointer!important;color:#d7ad49!important}
.mejs-captions-position-hover{bottom:50px!important}
.mejs-captions-text{padding:0!important;white-space:pre-wrap;display:block;font-size:22px}
.mejs-captions-layer{line-height:30px!important}
.mejs-overlay-loading{background:0 0!important}
.mejs-overlay-loading span{background:url(../build/oval.svg) 50% 50% no-repeat!important;background-size:80px!important}
.video{max-width:750px;background:#000}
.video video{max-width:100%;min-height:360px;max-height:100%}
#comments .h4,#descriptions .h4{color:#6a55d7}
#comments .media-body .comments-date{color:#6a55d7;font-size:65%}
#comments .form textarea:focus{border-color:#6a55d7;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px rgba(106,85,215,.5)}
#comments .form .pull-right{margin-top:10px}
#comments .form #submit{background-color:#1a7ead;box-shadow:0 2px 0 #00469c;color:#fff}
#comments .form #submit:hover{box-shadow:0 0 0 #00469c}
.sign .col-md-4{margin:70px auto;float:none}
.sign h1{padding-right:30px}
.registration .fa-pencil,.registration h1,.sign .checkbox input[type=checkbox]:checked+label:before,.sign .fa-sign-in,.sign h1{color:#983af2}
.registration .contact-form,.sign .contact-form{padding:1em;box-shadow:0 10px 20px 0 rgba(0,0,0,.2);color:#2a2d2e;font-weight:600}
.registration .contact-form label,.sign .contact-form label{font-size:100%;color:#adadae}
.registration .contact-form input[type=password],.registration .contact-form input[type=email],.registration .contact-form input[type=text],.sign .contact-form input[type=password],.sign .contact-form input[type=email]{background-color:#f9f9f9;border-radius:2px;border-top:none;border-right:none;border-left:none;border-color:unset;box-shadow:none;border-bottom:1px solid #9b9c9d}
.registration .contact-form input[type=password]:focus,.registration .contact-form input[type=email]:focus,.sign .contact-form input[type=password]:focus,.sign .contact-form input[type=email]:focus{background-color:#fff;border-color:unset;box-shadow:none}
.registration .contact-form button,.sign .contact-form button{border-radius:2px;border-color:#6e4eff;background-color:#6e4eff;box-shadow:0 2px 0 #00469c;color:#fff;padding:6px 45px}
.registration .contact-form button:hover,.sign .contact-form button:hover{background-color:#7456fd;box-shadow:0 0 0 #00469c}
.marketing,.marketing .col-md-3,.profile .col-md-3,.profile .col-md-9{box-shadow:0 10px 20px 0 rgba(0,0,0,.2)}
.sign .checkbox label{cursor:pointer;display:inline-block;float:left;font-size:80%}
.sign .contact-form .form-control{height:45px}
.sign .restore-link{color:#472fb7;font-size:80%;padding-left:28px}
.search h1{border-left:2px solid #472fb7;font-size:170%;padding-left:5px;color:#444953;font-weight:400}
.search h1 span,.search p span{color:#472fb7}
.registration .col-md-4{margin:10px auto;float:none}
.registration h1{padding-right:30px}
.registration .contact-form .form-control{height:40px}
.profile{margin-top:20px}
.profile img{margin:0 auto}
.profile h3{color:#6e4eff}
.profile a{color:#472fb7}
.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover,.profile .nav-pills>li.active>a{background:linear-gradient(60deg,#983af2 0,#8a40f1 35%,#7848f0 45%,#6e4cef 55%,#5556ed 65%,#4c5aed 100%)}
.profile .col-md-9{float:right;width:73%}
.profile .col-md-9 .section{background:#fff;padding:17px;position:relative}
.profile .col-md-9 .section .panel-primary>.panel-heading{background:linear-gradient(60deg,#983af2 0,#8a40f1 35%,#7848f0 45%,#6e4cef 55%,#5556ed 65%,#4c5aed 100%);border-color:#8a40f1}
.profile .col-md-9 .section .panel-primary{border-color:#983af2}
.profile .nav-pills>li{float:none}
.standart_form .field .image_uploader .description{text-align:center;font-size:15px;color:#999;max-width:290px;margin-left:auto;margin-right:auto}
.controls_buttons a,.profile .col-md-9 .section .btn{color:#fff}
.marketing{padding:20px}
.marketing h2,.marketing h3,.marketing h3 .fa,.marketing h4{background:linear-gradient(60deg,#983af2 0,#8a40f1 35%,#7848f0 45%,#6e4cef 55%,#5556ed 65%,#4c5aed 100%);-webkit-background-clip:text;color:transparent}
.marketing .col-md-3{margin-right:5px;width:24%;padding:30px 15px}
.marketing .discount{font-size:80%;margin:15px 0}
.marketing .btn{margin-top:25px;background-color:#1a7ead;box-shadow:0 2px 0 #00469c;color:#fff}
.marketing .discount,.marketing .row .fa{background:linear-gradient(60deg,#983af2 0,#8a40f1 35%,#7848f0 45%,#6e4cef 55%,#5556ed 65%,#4c5aed 100%)}
.marketing .btn:hover{box-shadow:0 0 0 #00469c}
.marketing span{color:#3883de}
.marketing .discount{color:#fff}
.marketing .row .p{font-size:90%;padding:0 250px}
.marketing .row .fa{-webkit-background-clip:text;color:transparent}
#season a.spoiler:after{content:" [ - ]"}
#season a.collapsed:after{content:" [ + ]"}
#season .tab-pane ul{padding:10px 0 20px 10px}
#season .tab-pane ul li{display:inline-block}
#toTop,.html5-video-player svg,.ytp-button,.ytp-large-play-button{display:none}
#season .table>tbody>tr>td{padding:8px 0;border-bottom:1px solid #f5f5f5;border-top:none}
#season .col-md-3{width:20%;padding-top:10px}
#season .col-md-9{padding:0}
#season .col-md-9 .row{margin:0}
#season .col-md-3 ul{list-style:none;padding-left:2px}
#season .col-md-3 ul li span{color:#6e4eff}
#season .tabs{margin:15px 0}
#season .tabs .table td:nth-child(1){width:25px}
#season .panel-default{border-color:#6e4eff;margin:15px 0}
#season .panel-default>.panel-heading{color:#fff;background-color:#6e4eff}
#season a{color:#6e4eff}
#season .nav-tabs>li.active>a{color:#555}
#season .social{margin:0 0 10px;float:left}
#season .serial-dictionary{position:absolute;right:0;top:0}
#season .video{max-width:900px}
#toTop{position:fixed;bottom:10px;right:3%;overflow:hidden;border:none;color:#983af2}
#toTopHover{display:block;overflow:hidden;opacity:0}
.footer{background-color:#f5f5f5;border-top:1px solid #ddd}
.footer .pull-left{color:#472fb7;font-weight:400;margin:20px 0 0}
.footer .navbar-nav li{border-radius:50%;display:inline-block;height:40px;width:40px;margin:10px 5px 0}
.footer .navbar-nav li a{padding-top:9px}
.footer .navbar-nav li a:focus,.footer .navbar-nav li a:hover{background:0 0}
.footer .navbar-nav .vk{border:1px solid #54769a}
.footer .navbar-nav .vk:hover{background-color:#54769a}
.footer .navbar-nav .vk a{color:#54769a;padding-left:11px}
.footer .navbar-nav .facebook{border:1px solid #255c95}
.footer .navbar-nav .facebook:hover{background-color:#255c95}
.footer .navbar-nav .facebook a:hover,.footer .navbar-nav .google a:hover,.footer .navbar-nav .instagram a:hover,.footer .navbar-nav .ok a:hover,.footer .navbar-nav .twitter a:hover,.footer .navbar-nav .vk a:hover{color:#fff}
.footer .navbar-nav .facebook a{color:#255c95}
.footer .navbar-nav .google{border:1px solid #e81810}
.footer .navbar-nav .google:hover{background-color:#e81810}
.footer .navbar-nav .google a{color:#e81810;padding-left:12px}
.footer .navbar-nav .instagram{border:1px solid #757575}
.footer .navbar-nav .instagram:hover{background-color:#757575}
.footer .navbar-nav .instagram a{color:#757575;padding-left:13px}
.footer .navbar-nav .twitter{border:1px solid #008bad}
.footer .navbar-nav .twitter:hover{background-color:#008bad}
.footer .navbar-nav .twitter a{color:#008bad;padding-left:13px}
.footer .navbar-nav .ok{border:1px solid #f2711c}
.footer .navbar-nav .ok:hover{background-color:#f2711c}
.footer .navbar-nav .ok a{color:#f2711c;padding-left:14px}
@media screen and (min-width:992px) and (max-width:1199px) {
  #searchfor{padding:10px 0 0 40px}
  #searchform #search{width:240px}
  #category .nav .category-menu a{font-size:100%;padding:0 20px 10px}
  #episodes .thumbnail .views{margin-top:-110px;margin-left:175px}
  #episodes .thumbnail img{height:120px}
  .video video{min-height:360px}
}
@media screen and (min-width:768px) and (max-width:991px) {
  .bg{min-height:400px}
  .header-info{padding:8em 0 4em}
  .header-info h1{font-size:1.8em}
  .header-info a.big-btn{font-size:1em;height:45px;width:205px}
  #category .nav .category-menu a{font-size:85%;margin:15px 0 0;padding:0 20px 10px}
  #episodes .thumbnail .views{margin-left:190px}
  .widget .views{display:none}
  .widget .widget-title{font-size:85%}
  .video video{min-height:243px}
}
@media screen and (max-width:767px) {
  .bg{min-height:300px}
  .facebook a{padding:10px 15px}
  .nav>li>a{padding:10px 25px}
  .navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 60px}
  .avatar{padding-left:17px}
  .header-info{padding:5em 0 0}
  .header-info h1{font-size:1.5em}
  .header-info a.big-btn{font-size:.8em;height:40px;margin:125px 5px 0;width:175px}
  #searchfor{padding:10px 0 0 40px}
  #searchform #search{width:240px}
  #searchfor .form-group{float:left}
  #category .nav .category-menu a{font-size:100%;padding:0 20px 10px}
  #episodes .thumbnail .views{margin-top:-110px;margin-left:175px}
  #episodes .thumbnail img{height:120px}
  .footer .navbar-nav{float:right}
  .widget .views{display:none}
  .widget .widget-title{font-size:85%}
  .video video{min-height:247px}
  #test-translations>div{display: block;width: 175px;}
}
@media screen and (max-width:600px) {
  .dropdown-menu > li > a{color:#fff}
  .header-info a.big-btn{font-size:.75em;margin:80px 5px 0;width:155px}
  #episodes .thumbnail img{height:90px}
  #episodes .thumbnail .views{margin-top:-115px;margin-left:140px}
  .profile .col-md-9{width:100%!important}
  .nav-pills>li>a{font-size:80%}
  #team-members{background:#f4f4f4}
  #season .col-md-3{width:100%}
  #test-translations > div{display:block;width:50%}
  #test-one .test-word{margin:15px 0}
  #test-one .test-btn-success{float:left;width:50%}
}
@media screen and (max-width:480px) {
  .header-info h1{font-size:1em}
  .header-info a.big-btn{font-size:.7em;margin:50px 5px 0;width:155px}
  #episodes .thumbnail .views{margin-top:-85px;margin-left:100px}
  #searchform #search{width:215px}
}
@media screen and (max-width:320px) {
  .header-info h1{font-size:1em}
  .header-info a.big-btn{font-size:.7em;margin:30px 5px 13px;width:155px}
  .profile .table{font-size:75%}
  #episodes .thumbnail .views{margin-top:-88px;margin-left:50px}
  #episodes .thumbnail .caption h5,.thumbnail .caption h6{font-size:60%}
  #episodes .thumbnail .caption h4{font-size:65%}
}
.site-contact h1 .fa{color:#8a40f1}
.site-contact p{color:grey}
.footer .feedback{float:left;margin:14px 0}
.footer .feedback li{display:inline-block;border-radius:20px;border:1px solid #337ab7;color:#337ab7;font-size:90%}
.footer .feedback li:hover{color:#fff;background-color:#337ab7}
.footer .feedback li a{display:inherit;padding:5px 20px}
.footer .feedback li a:hover{text-decoration:none;color:#fff}
.address .contact-form input[type="text"],.address .contact-form input[type="email"],.address .contact-form textarea{background-color:#f9f9f9;border-radius:2px;border-top:none;border-right:none;border-left:none;border-color:unset;box-shadow:none;border-bottom:1px solid #9b9c9d}
.sign .col-md-8,.registration .col-md-8{float:none;margin:0 auto}
.login form{float:left;width:45%}
.login .line{float:left;width:10%;padding:0 10px}
.login .line span{display:block;width:1px;margin:0 auto}
.login .line .line-first{height:125px;background:#7456fd}
.login .line .line-second{color:#7456fd;width:35px}
.login .line .line-third{height:130px;background:#7456fd}
.login .social-login{float:left;width:43%}
.social-login .btn-social{border-radius:2px;width:290px;height:45px;position:relative;padding-left:66px;padding-top:11px;font-size:100%;text-align:left;margin-bottom:25px}
.social-login .fa{position:absolute;left:0;top:0;bottom:0;width:50px;padding:12px 15px}
.social-login a:hover .fa{border-right:1px solid #fff}
.social-login .btn-google{border-color:#e81810;background-color:#fff;color:#e81810}
.social-login .btn-google:hover{background-color:#cd282f;color:#fff}
.social-login .fa-google{font-size:130%;padding:12px 15px;border-right:1px solid #cd282f}
.social-login .btn-facebook{border-color:#255c95;background-color:#fff;color:#255c95}
.social-login .btn-facebook:hover{background-color:#255c95;color:#fff}
.social-login .fa-facebook{font-size:130%;padding:12px 18px;border-right:1px solid #255c95}
.social-login .btn-vkontakte{border-color:#54769a;background-color:#fff;color:#255c95}
.social-login .btn-vkontakte:hover{background-color:#54769a;color:#fff}
.social-login .fa-vkontakte{font-size:130%;padding:12px 14px;border-right:1px solid #54769a}
.social-login .fa-vkontakte:before{content:"\f189"}
.social-login .fa-google:before{content:"\f0d5"}
#test-one{margin-top:75px}
#test-one h3,#test-one span{color:#6e4eff}
#test-one .test-word{margin:60px 0 0;background-color:#5095F0;padding:10px 0;border-radius:4px;width:175px}
#test-one .test-word label{font-size:110%;color:#fff;margin:0;letter-spacing:.5px}
#test-one .test-btn{background-color:#f9f9f9;box-shadow:0 2px 0 #adadad;color:#666;border:1px solid #adadad;width:100%;padding:6px 0}
#test-one .btn-sm{outline:0}
#test-one input[type="radio"]{display:none}
#test-one .test-btn:hover,#test-one input[type="radio"]:checked + label{background-color:#5cb85c;color:#fff;box-shadow:0 0 0 #adadad;border:1px solid #5cb85c}
#test-one .test-btn-success{background-color:#1a7ead;box-shadow:0 2px 0 #00469c;color:#fff}
#test-one .test-btn-primary{background-color:#337ab7;box-shadow:0 2px 0 #2e6da4;color:#fff;width:100%}
#test-one .test-btn-primary:hover{box-shadow:0 0 0 #2e6da4}
#test-one .test-btn-success:hover{box-shadow:0 0 0 #d7ad49}
#test-one .form div{margin-bottom:10px}
#test-one .btn-sm{padding:5px 9px;border-radius:50%;line-height:0;color:#777}